
.env.example

# Ignore node_modules folder
node_modules/

tests/

vendor/

.editorconfig

components.json

composer.lock

package.json

package-lock.json

phpunit.xml

postcss.config.js

README.md

tailwind.config.js

tsconfig.json

vendor.zip

vite.config.js

.env

test.py

public/hot.

# Ignore specific file
secret-config.json
test.py
README.md
tailwind.config.js
tsconfig.json
vendor.zip
postcss.config.js
phpunit.xml
components.json
